/* order of these files is important and should not be changed */
:root {
    --dark-0: #374e6c;
    --dark-base: #3e5879;
    --dark-1: #0000FF;
    --dark-3: #374e6c;
    --dark-4: #3e5879;
    --light-0: #d7dfea;
    --light-base: #afc0d5;
    --light-1: #a1b5ce;
    --light-2: #94abc7;
    --light-3: #87a0c0;
    --light-4: #7996b9;
    --accent: #63cdcf;
    --yellow: #dbc074;
    --green: #5cb8a7;
    --red: #c94f6d;
}

:root[privatebrowsingmode="temporary"] {
    --dark-0: #1c0e34;
    --dark-base: #20103c;
    --dark-1: #2f1d4e;
    --dark-2: #38225d;
    --dark-3: #4a2d7b;
    --dark-4: #53338a;
    --light-0: #cc6b9c;
    --light-base: #b9407c;
    --light-1: #ab3b73;
    --light-2: #9c3569;
    --light-3: #8d305e;
    --light-4: #7d2b54;
    --accent: #e9207e;
    --yellow: #c9b336;
    --green: #36c987;
    --red: #c9365d;
}

@supports -moz-bool-pref("Color.Reshading") {
            :root {
                --extension-icon-mask: grayscale(85%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%); }
            
            :root[privatebrowsingmode="temporary"] {
                --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%) contrast(93%); }
}
