@import url("catppuccin.css");
:root {
    --button-fill:              var(--color3);
    --selected:                 var(--color2);
    --button-hover:             color-mix(in srgb, var(--button-fill) 20%, transparent);
    --tab-hover:                color-mix(in srgb, var(--selected) 20%, transparent);
    --error:                    var(--color7);
    --white:                    rgba(255,255,255,.2);

    --text-selected:            var(--background);
    --text-color:               var(--foreground);
    --border-color:             var(--selected);

  
/* Variables --------------------------------------------------------------- */
  /* Almost every element background  */
  --toolbar-bgcolor: var(--background) !important;
  --toolbar-color: var(--text-color) !important;

  /* Tab-bar ----------------------------------------------  */

  /* Tabs background color  */
  --lwt-accent-color: var(--background) !important;

  /* Active tab */
  --lwt-selected-tab-background-color: var(--white) !important;

  /* Text */
  --lwt-text-color: var(--white) !important;

  /* Icons  */
  --toolbarbutton-hover-background: var(--button-hover) !important;
  --toolbarbutton-active-background: var(--tab-hover) !important;

  --toolbarbutton-icon-fill: var(--button-fill) !important;
  --toolbarbutton-icon-fill-attention: var(--selected) !important;

  --lwt-toolbarbutton-icon-fill: var(--button-fill) !important; 
  --lwt-toolbarbutton-icon-fill-attention: var(--selected) !important; 

  --download-progress-fill-color: var(--selected) !important;

  /* idk */
  --lwt-toolbarbutton-hover-background: red !important;
  --lwt-toolbarbutton-active-background: red !important;

  /* --avatar-image-url */

  /* Url-bar --------------------------------------------------- */

  --toolbar-field-background-color: transparent !important;

  /* Text */
  --toolbar-field-color: var(--text-color) !important;
  --toolbar-field-focus-color: var(--text-color) !important;
  --urlbar-popup-url-color: var(--color1) !important;
    /* Search engine box */
    --urlbar-box-text-color {
      color: var(--color1) !important;
    }

  --urlbarView-highlight-background: var(--selected) !important;
  --urlbarView-highlight-color: var(--text-selected) !important;
  --urlbarView-hover-background: var(--selected) !important;
  --urlbarView-separator-color: transparent !important;

  /* Border */
  --toolbar-field-border-color: var(--button-fill) !important;
  --focus-outline-color: var(--button-fill) !important;

  /* Icons */
  --button-hover-bgcolor: var(--button-hover) !important;
  --button-bgcolor: var(--button-fill) !important;

  /* Expanded */
  --toolbar-field-focus-background-color: var(--background) !important;
   
  /* Arrow panel ------------------------------------------------- */

    /* Also affects floating urlbar */
  --arrowpanel-background: var(--background) !important;
  --arrowpanel-dimmed: var(--button-hover) !important; /* hover color */
  --arrowpanel-dimmed-further: red !important; /* hover color */
/* --panel-item-active-bgcolor */

  --arrowpanel-border-radius: 14px !important;
  
  /* Text */
  --arrowpanel-color: var(--text-color) !important;
  --autocomplete-popup-color: var(--text-color) !important;
  --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

  /* Border */
  --arrowpanel-border-color: var(--button-fill) !important;
  --autocomplete-popup-border-color: var(--button-fill) !important;

  /* Bookmark bar -------------------------------------------------- */

  --checkbox-border-color: red !important;

  /* Text input field ----------------------------------------------
  * e.g. bookmarks editor */
  --focus-outline-color: transparent !important;
  --input-bgcolor: rgba(0,0,0,0.4) !important;
  --input-color: var(--text-color) !important;
  --input-border-color: transparent !important;
  --error-text-color: var(--error) !important;
  --input-error-border-color: var(--error) !important;
}

/* Identifiers ------------------------------------------------------------------- */


/* Trick to work on floorp sidebar */
  #appcontent,
  #browser {
    background-color: var(--background) !important;
    color: var(--text-color);
  }
  /* Text selected */
  ::selection {
    background-color: var(--white) !important;
    color: var(--button-fill) !important;
  }

/* Tab bar  -------------------------------------------------------------- */
  /* Hover */
  tab:not([selected="true"]) > .tab-stack:hover > .tab-background {
    background: var(--tab-hover) !important;
  }

  /* Active tab */
  tab[selected="true"] > .tab-stack > .tab-background {
    background-color: var(--tab-hover) !important;
  }
  .tab-content::before {
    background-color: var(--selected);
}

  .close-icon {
    color: var(--foreground) !important;
    fill: var(--color3) !important;
}

/* Urlbar --------------------------------------------------------------- */
  /* Icons */
  #identity-box,
  #tracking-protection-icon-container,
  .urlbar-icon {
    fill: var(--button-fill) !important;
  }

/* Floating Urlbar ------------------------------------------------------- */
  #urlbar[focused="true"] > #urlbar-background {
    background-color: var(--background) !important;
  }

  #urlbar[focused="true"] > #urlbar-background,
  #urlbar:hover > #urlbar-background {
    border: 1px solid var(--button-fill) !important;
  }


/* Extensions -------------------------------------------------------------- */
  #unified-extensions-panel .unified-extensions-item:hover {
    background: var(--button-hover) !important;
  }

  /* There's some other item behind these so that I cant change the border-radius the right way */
  #unified-extensions-panel .unified-extensions-item {
    fill: var(--button-fill) !important;
    border-radius: 8px !important;
  }

/* Floorp sidebar ------------------------------------------------------------ */

  /* Icons */
    /* Site icons */
  .webpanel-icon::before,
  toolbarbutton::before {
    background-color: var(--selected) !important;
  }

  toolbarbutton:where([selected="true"], [checked="true"]) {
    background: var(--tab-hover) !important;
  }

  .sidepanel-icon,
  .sidepanel-browser-icon,
  .sidebar2-icon{
    fill: var(--button-fill) !important;
  }


  .sidepanel-icon:hover,
  .sidepanel-browser-icon:hover,
  .sidebar2-icon:hover {
   background: var(--button-hover) !important;
  }
