@import "colors.css";
:root {
    --button-fill:              var(--color3);
    --button-hover:             color-mix(in srgb, var(--selected) 20%, transparent);
    --selected:                 var(--color2);
    --white:                    rgba(255,255,255,.2);

    --text-selected:            var(--background);
    --text-color:               var(--foreground);
    --border-color:             var(--selected);

  
  /* Almost every element background  */
  --toolbar-bgcolor: var(--background) !important;
  --toolbar-color: var(--text-color) !important;

  /* Tab-bar ----------------------------------------------  */

  /* Tabs background color  */
  --lwt-accent-color: var(--background) !important;

  /* Active tab */
  --lwt-selected-tab-background-color: var(--white) !important;

  /* Text */
  --lwt-text-color: var(--white) !important;

  /* Icons  */
  --toolbarbutton-hover-background: var(--button-hover) !important;
  --toolbarbutton-active-background: var(--selected) !important;

  --toolbarbutton-icon-fill: var(--button-fill) !important;
  --toolbarbutton-icon-fill-attention: var(--selected) !important;

  --lwt-toolbarbutton-icon-fill: var(--button-fill) !important; 
  --lwt-toolbarbutton-icon-fill-attention: var(--selected) !important; 

  --download-progress-fill-color: var(--selected) !important;

  /* idk */
  --lwt-toolbarbutton-hover-background: red !important;
  --lwt-toolbarbutton-active-background: red !important;

  /* --avatar-image-url */

  /* Url-bar --------------------------------------------------- */

  --toolbar-field-background-color: transparent !important;

  /* Expanded */
  --toolbar-field-focus-background-color: var(--background) !important;

  /* Text */
  --toolbar-field-color: var(--text-color) !important;
  --toolbar-field-focus-color: var(--text-color) !important;
  --urlbar-popup-url-color: var(--selected) !important;

  /* Border */
  --toolbar-field-border-color: var(--button-fill) !important;
  --focus-outline-color: var(--button-fill) !important;

  /* Icons */
  --button-hover-bgcolor: var(--button-hover) !important;
  --button-bgcolor: var(--button-fill) !important;


 
  /* Arrow panel ------------------------------------------------- */

  --arrowpanel-background: var(--background) !important;
  --arrowpanel-dimmed: var(--selected) !important; /* hover color */
  --arrowpanel-dimmed-further: red !important; /* hover color */

  --arrowpanel-border-radius: 12px !important;
  
  /* Text */
  --arrowpanel-color: var(--text-color) !important;
  --autocomplete-popup-color: var(--text-color) !important;
  --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

  /* Border */
  --arrowpanel-border-color: var(--button-fill) !important;
  --autocomplete-popup-border-color: var(--button-fill) !important;

  /* Bookmark bar -------------------------------------------------- */

  --checkbox-border-color: red !important;
}

/* --toolbar-field-focus-color */
/* --panel-item-hover-bgcolor */
