@-moz-document
url(about:home),
url(about:newtab) {
  html:not(#ublock0-epicker),
  html:not(#ublock0-epicker) body,
  #newtab-customize-overlay,
  #background {
    background-size: cover !important;
    background-image: url('../images/wallpaper') !important;
  }

  .search-wrapper {
    display: none;
  }

  .personalize-button {
    color: color-mix(
      in srgb,
      var(--newtab-background-color) 60%,
      var(--newtab-wordmark-color)
    ) !important;
    opacity: .6;
    transition: background-color .3s, border-color .3s, fill .8s, opacity .6s;
  }

  .personalize-button:hover {
    background-color: var(--newtab-background-color-secondary) !important;
    opacity: 1;
    fill: var(--newtab-wordmark-color) !important;
  }

  /* Hide Floorp support and release note links */
  #floorp {
    display: none;
  }
}

@-moz-document url(chrome://browser/content/browser.xul), url(about:newtab), url(about:home),url(about:privatebrowsing) {  
    body{
        background-size: cover !important;
        background-image: url("components/wallpaper.png")!important;
        --newtab-background-color: #000000 !important;
        --newtab-background-color-secondary: #000000 !important;
    }

    /* removing watermark and logo */
    .logo-and-wordmark{
        opacity: 0;
    }

    #searchSuggestionTable{
        opacity: 0;
    }

    /* search border gradient */
    .search-inner-wrapper{
        border-radius: 50px;
        border: double 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), 
        linear-gradient(90deg, #e08392, #e1a4e4, #e0b4e5, #e8daf8, #6699CC, #5FB3B3 ) !important;
        background-origin: border-box;
        background-clip: content-box, border-box;
        overflow: hidden;
        border-collapse: separate; 
    }
    #newtab-search-text{
        opacity: 60% !important;
    }
}
