@import url('../colors.css');

:root {

/* popup */
--arrowpanel-background: var(--background) !important;
--arrowpanel-dimmed: var(--color3) !important; /* hover color */
--arrowpanel-dimmed-further: var(--color3) !important; /* hover color */

/* popup_text */
--arrowpanel-color: var(--foreground) !important;
--autocomplete-popup-color: var(--foreground) !important;
--panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

/* popup_border */
--arrowpanel-border-color: var(--color3) !important;
--autocomplete-popup-border-color: var(--color3) !important;

/* popup_highlight */
--autocomplete-popup-highlight-background: var(--color1) !important;

/* popup_highlight_text */
--autocomplete-popup-highlight-color: white !important;

}