@import url('../colors.css');

#TabsToolbar,
#tabbrowser-tabbox,
#tabbrowser-tabpanels {
  background-color: var(--color0) !important;
  color: var(--text-color);
}

/* Pinned tab */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:is([pinned]) .tab-background:not([selected]) {
    background-color: transparent !important;
    box-shadow: none !important;
}



/* Remove actual workspaces text */
#workspaces-toolbar-button > .toolbarbutton-text {
  display: none !important;
}

/* Workspace icon */
#workspaces-toolbar-button > * {
  border-radius: 8px 8px 2px 2px !important;
  border-bottom: 2px solid rgba(255,255,255,.1) !important;
  margin-left: 4px !important;
}


/* Remove actual workspace right-border */
#tabbrowser-tabs {
  border: none !important;
}

.tabbrowser-tab::after {
    border: none !important;
}

.tab-background .tab-line,
.tab-background .tab-bottom-line {
    display: none;
}

.tab-background {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

tab,
.tabbrowser-tab {
    border-bottom: 1px solid transparent;
}

tab:not([selected="true"]) > .tab-stack:hover > .tab-background {
    background: rgba(255,255,255,.1) !important;
}

/* Close button tricks */

tab:not([selected="true"]) .tab-stack .tab-close-button {
  opacity: 0 !important;
  transition: opacity 0.4s ease !important;

}

tab:not([selected="true"]) > .tab-stack:hover .tab-close-button {
  opacity: 1 !important;

}

.close-icon {
  color: var(--foreground) !important;
  fill: var(--color3) !important;
}

tab:not([selected]) .tab-icon-image {
    opacity: 0.3 !important;
}

/* Active tab */
tab[selected="true"] > .tab-stack > .tab-background {
  background-color: rgba(255,255,255,.1) !important;
}

/* Text */
tab[selected="true"] > .tab-stack .tab-label-container {
    color: white !important;
}

.tab-content[selected="true"]::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 80%;
    background-color: var(--color3);
    border-radius: 6px;
}

.tabbrowser-tab[selected="true"] .tab-close-button,
#main-window #tabContextMenu menuseparator,
#main-window #context_openANewTab {
   display: none !important;
}

#alltabs-button,
#firefox-view-button {
  display: none !important;
}
/* Tab bar close window */
.titlebar-button {
  border-radius: 8px !important;
}

.toolbarbutton-icon {
  stroke: var(--color3) !important;
}

.titlebar-close:hover {
  background: var(--foreground) !important;
}
