@import url('../colors.css');
/* Pinned tab */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:is([pinned]) .tab-background:not([selected]) {
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Remove actual workspaces text */
#workspaces-toolbar-button > .toolbarbutton-text {
  display: none !important;
}

/* Remove actual workspace right-border */
#tabbrowser-tabs {
  border: none !important;
}

.tabbrowser-tab::after {
    border: none !important;
}

.tab-background .tab-line,
.tab-background .tab-bottom-line {
    display: none;
}

.tab-background {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

tab,
.tabbrowser-tab {
    border-bottom: 1px solid transparent;
}

/* Close button tricks */
tab:not([selected="true"]) .tab-stack .tab-close-button {
  opacity: 0 !important;
  transition: opacity 0.4s ease !important;

}

tab:not([selected="true"]) > .tab-stack:hover .tab-close-button {
  opacity: 1 !important;

}

tab:not([selected]) .tab-icon-image {
    opacity: 0.3 !important;
}

/* Line below active tab */
.tab-content::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    height: 4px;
    width: 80%;
    background-color: var(--color2);
    border-radius: 6px;
    opacity: 0;
    transition: all 0.6s ease;
    transform: translateX(-100%);
}

/* Reveal it  */
.tab-content[selected="true"]::before {
  opacity: 1;
  transform: translateX(-50%);

}

.tabbrowser-tab[selected="true"] .tab-close-button,
#main-window #tabContextMenu menuseparator,
#main-window #context_openANewTab {
   display: none !important;
}

#alltabs-button,
#firefox-view-button {
  display: none !important;
}

/* Tab bar close window */
#TabsToolbar .toolbarbutton-1,
#TabsToolbar .titlebar-close {
  opacity: 0 !important;
  border-radius: 8px !important;
  transition: opacity 0.3s ease !important;
}

#TabsToolbar:hover .toolbarbutton-1,
#TabsToolbar:hover .titlebar-close {
  opacity: 1 !important;
}
