@import url('../colors.css');

/* URL bar hover and focus */
#urlbar {
    min-height: 32px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: var(--foreground) !important;
    border-radius: 8px !important;
}

#urlbar-background {
  transition: border 0.4s ease 0.1s !important;  
}

#urlbar:hover:not([focused]) > #urlbar-background {
  border: 1px solid var(--color3) !important;
}
/* Appearance for URL bar. */

#urlbar-background,
#searchbar {
  border-radius: 8px !important;
  border: transparent !important;
  background: transparent !important;
}

.urlbarView-url {
  color: var(--color2) !important;
}
/* Hide and Hover icons in URL Bar */

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #page-action-buttons
  .urlbar-page-action {
  opacity: 0;
  transition-delay: 0.5s;
}

/* Remove border between URL bar input and suggestions. */
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: 0 !important;
  align: center !important;
}

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  > #identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 0.5s;
}

#page-action-buttons .urlbar-page-action,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.3s ease;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 0.3s ease, opacity 0.2s ease;
}

#urlbar #identity-box.notSecureText #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
  color: #e36f6f !important;
}

#urlbar #identity-box.extensionPage #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
}

#identity-box:hover #identity-icon-box,
#identity-box:hover #identity-permission-box,
#identity-box #identity-permission-box[open="true"] {
  opacity: 1 !important;
  margin-inline-start: initial !important;
}

#urlbar-input-container .urlbar-input-box {
  padding-inline-start: 2px !important;
}

#page-action-buttons {
  padding-inline-start: 8px;
}

#page-action-buttons .urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
  opacity: 0;
  transition: margin-inline-end 0.3s ease, opacity 0.2s ease;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}

#identity-box.chromeUI #identity-icon-box {
  opacity: 1 !important;
  margin-inline-start: initial;
}

#identity-box.chromeUI::after,
#identity-box.chromeUI:hover::after {
  opacity: 0 !important;
}

#page-action-buttons:not(:hover) #translations-button[translationsactive="true"]:not([open]) {
  visibility:collapse !important;
} 

/* Create visual dots on both sides */

#identity-box::after,
#page-action-buttons::before {
  position: relative;
  content: "•••";
  pointer-events: none;
  align-self: center;
  font-size: 0.7em;
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

#identity-box:hover::after,
#page-action-buttons:hover::before {
  opacity: 0.6 !important;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#identity-box::after {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
  left: 4px;
}

#page-action-buttons::before {
  transition: transform 0.3s ease 0.5s;
  transform: rotate(-90deg);
  right: 4px;
}

#identity-box[pageproxystate="invalid"]::after,
#urlbar-input-container[pageproxystate="invalid"]
  > #page-action-buttons::before {
  opacity: 0 !important;
  transition: opacity 0.7s ease;
}

/* Linux changes for visual dots */
@media (-moz-platform: linux) {
  #identity-box::after,
  #page-action-buttons::before {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="%23FFFFFF" width="11px" height="11px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>');
    transform: none;
    font-size: unset;
  }

  #page-action-buttons::before {
    right: 2px;
  }

  #identity-box::after {
    left: 2px;
  }
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#urlbar-label-box,
#urlbar-zoom-button {
  background-color: transparent !important;
}

#urlbar-zoom-button:hover {
  background-color: rgba(255,255,255,.2) !important;
}

#urlbar-input-container #identity-box > .identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 8px !important;
}

#urlbar-go-button,
#tracking-protection-icon-container
{
  display: none !important;
}
